@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
    --color-black: #0f0f0f;
    --color-black-400: #555555;
    --color-black-800: #222222;
    --color-black-900: #1a1a1a;

    --color-rose-50: #fef2f3;
    --color-rose-100: #fde6e7;
    --color-rose-200: #fbd0d4;
    --color-rose-300: #f8a9b1;
    --color-rose-400: #f37988;
    --color-rose-500: #e94a62;
    --color-rose-600: #d5294b;
    --color-rose-700: #b91d40;
    --color-rose-800: #971a3a;
    --color-rose-900: #811a38;
    --color-rose-950: #480919;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Caveat", cursive;
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.dots {
    background-image: radial-gradient(#222 1px, transparent 1px);
    background-size: 20px 20px;
}
